.container {
    overflow: auto;
    height: 400px;
}

.member {
    background-color: whitesmoke;
    margin-top: 7px;
    cursor: pointer;
}

table {
    border-collapse: collapse;

}

td {
    padding: 7px;
    border-top: 8px solid white;
}

input {
    padding: 8px;
    margin: 4px;
    margin-bottom: 20px;
}

input[type=text] {
    width: 100%;
}

.sort_td {
    cursor: pointer;
}